body {
	background-image: url('img/war.webp');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #2239D5;
	text-decoration: none;
}

.container {
	/* margin-left: 575px;
	margin-top: 250px;  */
	display: table;
	margin: 14% auto;
	
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.content_brand {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
	color: white;
}

.content_text {
	font-size: 18px;
	font-weight: bold;
	color: white;
	font-family: "Lucida Console", monospace;
	letter-spacing: 2px;
}

@media (max-width: 320px;) {

}